<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <h1>Joan Clarke</h1>
    <img src="/img/clarke.jpg" width="300px">
    <p>¡Una de las primeras mujeres programadoras cruciales dentro de un hito histórico! Joan Clarke (1917 – 1996) fue una criptoanalista inglesa famosa por su rol como descifradora de códigos durante la Segunda Guerra Mundial.</p>
    <a href='/'>Volver a la pagina principal</a>
</body>
</html>