<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3>La tecnologia ha impactado de gran manera en nuestras vidas, automatizando y por ende facilitando muchos trabajos, antes hechos manualmente.</h5>
        <img src="/img/programacion.jpeg">
    <h4>Pero, quienes son los grande contribuyentes que ayudaron a que todo esto sea posible? Bueno, no podemos mencionarlos a todos, pero debajo se presentaran algunos de los nombres mas reconocidos:</h4>
    <ul>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Joan Clarke</a></li>
        <li><a href="/hamilton">Margaret Hamilton</a></li>
        <li><a href="/hopper">Murray Hopper Grace</a></li>
        <li><a href="/lovelace">Ada Lovelace</a></li>
        <li><a href="/turing">Alan Turing</a></li>
    </ul>
</body>
</html>