<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>
<body>
    <h1>Alan Turing</h1>
    <img src="../public/img/turing.jpg">
    <p>Alan Turing fue el creador de la máquina electromecánica precursora de los computadores modernos, la cual logró desbloquear los códigos secretos de los submarinos alemanes durante la Segunda Guerra Mundial. Fue un trabajo considerado clave para la obtención de la victoria aliada del mencionado conflicto.</p>
    
</body>
</html>